@use '../../../../assets/scss/config/index' as *;

.signin-container {
	background-color: $secondary-color;
	padding: 40px 30px;
	width: 80%;
	max-width: 600px;
	border-radius: 20px;
}
.signin-title {
	margin: 0;
	color: white;
	text-align: center;
	font-size: 2rem;
	font-weight: normal;
}
.form {
	display: flex;
	flex-direction: column;
	gap: 20px;
	margin-top: 40px;
}
.input-group {
	display: flex;
	flex-direction: column;
	gap: 7px;
	label {
		color: white;
		font-weight: lighter;
	}
	input {
		font-size: 1.25rem;
		padding: .5em;
		background-color: $primary-color;
		border: none;
		outline: none;
		border-radius: .25em;
		color: white;
		font-weight: lighter;
		&:focus {
			box-shadow: 0 0 0 1px $primary-color;
		}
	}
	&.success {
		input {
			box-shadow: 0 0 0 1px $primary-color;
		}
		.msg {
			color: $primary-color;
		}
	}
	&.error {
		input {
			box-shadow: 0 0 0 1px $primary-color;
		}
		.msg {
			color:$primary-color;
		}
	}
	.msg {
		display: none;
		font-size: .75rem;
	}
}
.input-group.success .msg,
.input-group.error .msg {
	display: block;
}
.signin-button {
	padding: .5em 1em;
	font-size: 1.5rem;
	font-weight: lighter;
	color: white;
	background-color: $primary-color;
	border: 1px solid $primary-color;
	border-radius: .25em;
	outline: none;
	cursor: pointer;
}
.signin-button:hover,
.signin-button:focus {
	background-color: $primary-color;
}
