<div class="fullscreen-center">
    <div class="container">
      <form [formGroup]="userLogFrm" class="m-3" (ngSubmit)="submit()">
    
        <div class="mb-3">
          <label for="uEmail" class="form-label">Email</label>
          <input type="email" formControlName="email" class="form-control" id="uEmail" name="useremail">
          <div class="alert alert-warning my-3" [hidden]="email?.valid || email?.untouched">
            <small *ngIf="email?.errors?.['required']">
              Email is required
            </small>
            <small *ngIf="email?.errors?.['email']">
              Enter email in correct form
            </small>
          </div>
        </div>


        <div class="mb-3">
          <label for="uPass" class="form-label">Password</label>
          <input type="password" formControlName="password" class="form-control" id="uPass" name="userPass">
          <div class="alert alert-warning my-3" *ngIf="password?.errors?.['required'] && password?.touched">
            Password is required
          </div>
        </div>
   
        <button [disabled]="userLogFrm.invalid" type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
  </div>