<div class="fullscreen-center">
<div class="signin-container">
    <h1 class="signin-title">Welcome</h1>
    <form class="form">
      <div class="input-group success">
        <label for="email">Email</label>
        <input type="email" name="email" id="email">
        <span class="msg">Valid email</span>
      </div>

      <div class="input-group error">
        <label for="password">Password</label>
        <input type="password" name="password" id="password">
        <span class="msg">Incorrect password</span>
      </div>

      <button type="submit" class="signin-button">signin</button>
    </form>
  </div>
</div>