@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&family=Titillium+Web:wght@400;600;700&display=swap');
$title-font: 'Titillium Web', sans-serif;
$text-font: 'Montserrat', sans-serif;
$biggest-font-size: 2rem;
$h2-font-size: 1.25rem;
$h3-font-size: 1.125rem;
$normal-font-size: .938rem;
$small-font-size: .813rem;
$smaller-font-size: .75rem;

@media screen and (min-width: 968px){
    $biggest-font-size: 3rem;
    $h2-font-size: 1.75rem;
    $h3-font-size: 1.25;
    $normal-font-size: 1rem;
    $small-font-size: .875rem;
    $smaller-font-size: .813rem;
}

$font-title-regular: 400;
$font-title-semibold: 600;
$font-title-bold: 700;
$font-text-regular: 400;
$font-text-semibold: 500;
$font-text-bold: 600;