<div class="fullscreen-center">
  <div class="container">
    <form [formGroup]="userRegFrm" class="m-3" (ngSubmit)="submit()">
      <div class="mb-3">
        <label for="fName" class="form-label">Username</label>
        <input type="text" formControlName="userName" class="form-control" id="fName" name="userFname" [class.is-invalid]="userName?.invalid" [class.is-valid]="userName?.valid">
        <div class="alert alert-warning" [hidden]="userName?.valid || userName?.untouched">
          <small *ngIf="userName?.errors?.['required']">
            Username is required
          </small>
          <small *ngIf="userName?.errors?.['pattern']">
            Username must be 3 letters at least, <b>{{userName?.errors?.['pattern'].actualValue}}</b> doesn't match.
          </small>
        </div>
      </div>
  
      <div class="mb-3">
        <label for="uEmail" class="form-label">Email</label>
        <input type="email" formControlName="email" class="form-control" id="uEmail" name="useremail" [class.is-invalid]="email?.invalid" [class.is-valid]="email?.valid">
        <div class="alert alert-warning" [hidden]="email?.valid || email?.untouched">
          <small *ngIf="email?.errors?.['required']">
            Email is required
          </small>
          <small *ngIf="email?.errors?.['email']">
            Enter email in correct form
          </small>
        </div>
      </div>
  
      <!-- <div class="mb-3">
        <label for="phoneNo" class="form-label">Phone No.</label>
        <input type="number" formControlName="phoneNo" class="form-control" id="phoneNo" name="userPh" [class.is-invalid]="phoneNo?.invalid" [class.is-valid]="phoneNo?.valid"/>
        <div class="alert alert-warning" [hidden]="phoneNo?.valid || phoneNo?.untouched">
          <small *ngIf="phoneNo?.errors?.['required']">
            Phone No. is required
          </small>
        </div>
      </div> -->

      <div class="mb-3">
        <label for="uPass" class="form-label">Password</label>
        <input type="password" formControlName="password" class="form-control" id="uPass" name="userPass">
        <div class="alert alert-warning" *ngIf="password?.errors?.['required'] && password?.touched">
          Password is required
        </div>
      </div>
  
      <div class="mb-3">
        <label for="uCPass" class="form-label">Confirm Password</label>
        <input type="password" formControlName="confirmPassword" class="form-control" id="uCPass" name="usercpass">
          <div class="alert alert-warning" *ngIf="confirmPassword?.errors?.['required'] && confirmPassword?.touched">
            Confirm Password is required
          </div>
          <div small class="alert alert-warning" *ngIf="userRegFrm?.errors?.['UnmatchedPassword']">
            Confirm password must match password.
          </div>
      </div>
  
  
      <button [disabled]="userRegFrm.invalid" type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>
</div>
