<nav class="navbar container navbar-expand-lg">
    
      <a class="navbar-brand" href="#"><img style="width: 50px;" src="../../../../assets/imgs/main/logo.png" alt="logo"></a>
    
      <button class="navbar-toggler bg-secondary-color" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        
        <ul class="navbar-nav mb-2 mb-lg-0">
          <li class="nav-item">
            <a *ngIf="user == null" class="nav-link  primary-color"  routerLink="login"><i class="fa-solid fa-right-to-bracket"></i>Login</a>
          </li>
          <li class="nav-item">
            <a *ngIf="user == null" class="nav-link  primary-color"  routerLink="register"><i class="fa-solid fa-user"></i>Register</a>
          </li>
          <li class="nav-item">
            <a *ngIf="user != null" class="nav-link  primary-color"  (click)="logout()"><i class="fa-solid fa-right-to-bracket"></i>Log out</a>
          </li>
          <li class="nav-item">
            <a *ngIf="user?.role == 'admin'" class="nav-link  primary-color" routerLink="admin-dashboard"><i class="fa-solid fa-right-to-bracket"></i>Admin Dashboard</a>
          </li>
          <li class="nav-item">
            <a *ngIf="user != null" class="nav-link primary-color" routerLink="user/details/{{user.id}}"><i class="fa-solid fa-user"></i>{{user?.username}}</a>
          </li>
        </ul>
        
      </div>
     
  </nav>
